
/**
 * 8.4 - >= 783px
 */

@include media(landscape) {
	.admin-bar .flashy-overlay .flashy-close {
		top: 32px;
	}

	body[class*="color-scheme-"]:not(.color-scheme-ecommerce):not(.color-scheme-education):not(.color-scheme-default):not(.color-scheme-dark):not(.has-header-top):not(.has-header-video).home.has-header-media.admin-bar {
		.custom-header,
		.custom-header .wrapper:before {
			min-height: calc(100vh - 32px);
		}
	}

	body[class*="color-scheme-"]:not(.color-scheme-ecommerce):not(.color-scheme-education):not(.color-scheme-default):not(.color-scheme-dark):not(.has-header-top).admin-bar {
		#feature-slider-section .hentry .hentry-inner {
			min-height: calc(100vh - 32px);
		}
	}
}
