<div id="resources-container">
    <iframe src="{{ resourcesUrl }}"></iframe>
</div>

<script>
    if (document.getElementById('lc-connect-notice')) {
        document.getElementById('resources-container').style.height = '80vh';
    }
</script>
